@model AppPeluqueria.Models.BD.Casa_Comerc

@{
    ViewBag.Title = "Borrar Cliente";
}

<br />
<h3 style="margin-left:40px"> Datos del Cliente que se va a Borrar </h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <span style="margin-left:40px"> @Html.Label("Id de la Casa Comercial") </span>
        </dt>

        <dd>
            <span style="margin-left:40px"> @Html.DisplayFor(model => model.id_Casa) </span>
        </dd>


        <dt>
            <span style="margin-left:40px"> @Html.Label("Nombre de la Casa Comercial") </span>
        </dt>

        <dd>
            <span style="margin-left:40px"> @Html.DisplayFor(model => model.nombre_Casa) </span>
        </dd>

        <dt>
            <span style="margin-left:40px"> @Html.Label("Localización Casa Comercial") </span>
        </dt>

        <dd>
            <span style="margin-left:40px"> @Html.DisplayFor(model => model.local_Casa) </span>
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:40px">
            <input type="submit" value="Borrar" class="btn btn-default" />
            <br />
            <br />
        </div>
    }
</div>
