@model IEnumerable<AppPeluqueria.Models.CasasComerciales.InfoCasa>

@{
    ViewBag.Title = "Casas Comerciales";
}


<div class="form-horizontal">
    <div class="container-fluid">
        <div class="col-md-5">
            <div class="card-header">
                <h2 class="card-title"> Datos de las Casas Comerciales </h2>
            </div>

            <div class="card">
                <div class="form-group">

                    <table class="table">

                        <tr>
                            <th>
                                <span> @Html.Label("Id Casa Comercial") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Nombre Casa Comercial") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Localización") </span>
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id_Casa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre_Casa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.local_Casa)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id_Casa }) |
                                @Html.ActionLink("Borrar", "Delete", new { id = item.id_Casa })
                            </td>
                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
