@model Aplicacion_BDPeluqueria.BaseDatos.Cliente

@{
    ViewBag.Title = "Borrar Cliente";
}

<br />
<h3 style="margin-left:40px"> Datos del Cliente que se va a Borrar </h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <span style="margin-left:40px"> @Html.Label("Dni del Cliente") </span>
        </dt>

        <dd>
            <span style="margin-left:40px"> @Html.DisplayFor(model => model.dni_Cli) </span>
        </dd>

        <dt>
            <span style="margin-left:40px"> @Html.Label("Nombre del Cliente") </span>
        </dt>

        <dd>
            <span style="margin-left:40px"> @Html.DisplayFor(model => model.nombre_Cli) </span>
        </dd>

        <dt>
            <span style="margin-left:40px"> @Html.Label("Apellidos del Cliente") </span>
        </dt>

        <dd>
            <span style="margin-left:40px"> @Html.DisplayFor(model => model.apell_Cli) </span>
        </dd>

        <dt>
            <span style="margin-left:40px"> @Html.Label("Dirección del Cliente") </span>
        </dt>

        <dd>
            <span style="margin-left:40px">  @Html.DisplayFor(model => model.dir_Cli) </span>
        </dd>

        <dt>
            <span style="margin-left:40px"> @Html.Label("Nombre del Peluquero") </span>
        </dt>

        <dd>
            <span style="margin-left:40px"> @Html.DisplayFor(model => model.Peluquero.nombre_Pel) </span>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:40px">
            <input type="submit" value="Borrar" class="btn btn-default" />
            <br />
            <br />
        </div>
    }
</div>
