@model AppPeluqueria.Models.BD.Clientes

@{
    ViewBag.Title = "Editar Cliente";
}
<br />
<h3 style="margin-left:40px"> Datos del Cliente a Modificar </h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.dni_Cli)

        <div class="form-group">
            <span style="margin-left:40px"> @Html.Label("Nombre del Cliente") </span>
            <div class="col-md-10" style="margin-left:25px">
                @Html.EditorFor(model => model.nombre_Cli, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_Cli, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="margin-left:40px"> @Html.Label("Apellidos del Cliente") </span>
            <div class="col-md-10" style="margin-left:25px">
                @Html.EditorFor(model => model.apell_Cli, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apell_Cli, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span style="margin-left:40px"> @Html.Label("Dni del Cliente") </span>
            <div class="col-md-10" style="margin-left:25px">
                @Html.EditorFor(model => model.dni_Cli, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dni_Cli, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="margin-left:40px"> @Html.Label("Dirección del Cliente") </span>
            <div class="col-md-10" style="margin-left:25px">
                @Html.EditorFor(model => model.dir_Cli, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dir_Cli, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="margin-left:40px"> @Html.Label("Dni del Peluquero") </span>
            <div class="col-md-10" style="margin-left:25px">
                @Html.DropDownList("dni_Pel", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.dni_Pel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions no-color" style="margin-left:40px">
            <input type="submit" value="Guardar" class="btn btn-default" />
            <br />
            <br />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
