@model IEnumerable<AppPeluqueria.Models.Clientes.InfoCliente>

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal">
    <div class="container-fluid">
        <div class="col-md-7">
            <div class="card-header">
                <h2 class="card-title"> Datos de los Clientes </h2>
            </div>

            <div class="card">
                <div class="form-group">

                    <table class="table">
                        <tr>
                            <th>
                                <span> @Html.Label("Dni del Cliente") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Nombre del Cliente") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Apellido del Cliente") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Dirección del Cliente") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Dni del Peluquero") </span>
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dni_Cli)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre_Cli)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.apell_Cli)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dir_Cli)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dni_Pel)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.dni_Cli }) |
                                    @Html.ActionLink("Borrar", "Delete", new { id = item.dni_Cli })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
