@model AppPeluqueria.Models.BD.Reservas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.nombre_Cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.nombre_Cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peluqueros.nombre_Pel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peluqueros.nombre_Pel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.num_Res }) |
    @Html.ActionLink("Back to List", "Index")
</p>
