@model IEnumerable<AppPeluqueria.Models.BD.Res_Prod>

@{
    ViewBag.Title = "Index";
}


<div class="form-horizontal">
    <div class="container-fluid">
        <div class="col-md-4">
            <div class="card-header">
                <h2 class="card-title"> Datos de las Reservas </h2>
            </div>

            <div class="card">
                <div class="form-group">

                    <table class="table">
                        <tr>
                            <th>
                                <span> @Html.Label("Número de Reserva") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Id Producto") </span>
                            </th>
                            <th>
                                <span> @Html.Label("Cantidad que se reserva") </span>
                            </th>

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Reserva.dni_Cli)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reserva.dni_Pel)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.num_Res)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_Prod)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cantidad)
                                </td>

                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.num_Res }) |
                                    @Html.ActionLink("Borrar", "Delete", new { id = item.num_Res })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
