@model AppPeluqueria.Models.BD.Peluqueros

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Peluqueros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_Pel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_Pel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apell_Pel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apell_Pel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dir_Pel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dir_Pel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dni_Pel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
