<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>APP Peluquería</title>
    <link href="Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="Content/css/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
    <div class="navbar-wrapper navbar-expand">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*<a class="navbar-brand" href="#">APP Peluquería</a>*@

                        <a href="@Url.Action("Index","Home", new { area = "" })">
                            <span class="logo" style="font-size:25px; color:tomato"><i class="glyphicon glyphicon-scissors"></i> <b> APP Peluquería </b> </span>
                        </a>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="margin-left:20px">

                            <li routerlinkactive="active" class="active" id="peluqueros">
                                <a data-toggle="collapse" href="#Peluqueros" class="collapsed" aria-expanded="false">

                                    <i style="font-size:18px" class="glyphicon glyphicon-user"> Peluqueros</i>
                                </a>
                                <div class="collapse" id="Peluqueros" aria-expanded="false" style="height: 0px">

                                    <ul class="treeview-menu">
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Create", "Peluqueros", new { area = "" })">
                                                <i style="color:white">Añadir</i>
                                            </a>
                                        </li>

                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Index", "Peluqueros", new { area = "" })">
                                                <i style="color:white">Registro</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li routerlinkactive="active" class="active" id="productos" style="margin-left:30px">
                                <a data-toggle="collapse" href="#Productos" class="collapsed" aria-expanded="false">
                                    <i style="font-size:18px" class="glyphicon glyphicon-tags"> Productos</i>
                                </a>
                                <div class="collapse" id="Productos" aria-expanded="false" style="height: 0px;">

                                    <ul class="treeview-menu">
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Create", "Productos", new { area = "" })">
                                                <i style="color:white">Añadir</i>
                                            </a>
                                        </li>
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Index", "Productos", new { area = "" })">
                                                <i style="color:white">Registro</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li routerlinkactive="active" class="active" id="clientes" style="margin-left:30px">
                                <a data-toggle="collapse" href="#Clientes" class="collapsed" aria-expanded="false">
                                    <i style="font-size:18px" class="glyphicon glyphicon-user"> Clientes</i>
                                </a>
                                <div class="collapse" id="Clientes" aria-expanded="false" style="height: 0px;">

                                    <ul class="treeview-menu">
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Create", "Clientes", new { area = "" })">
                                                <i style="color:white">Añadir</i>

                                            </a>
                                        </li>
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Index", "Clientes", new { area = "" })">
                                                <i style="color:white">Registro</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li routerlinkactive="active" class="active" id="reservas" style="margin-left:30px">
                                <a data-toggle="collapse" href="#Reservas" class="collapsed" aria-expanded="false">
                                    <i style="font-size:18px" class="glyphicon glyphicon-list"> Reservas</i>
                                </a>
                                <div class="collapse" id="Reservas" aria-expanded="false" style="height: 0px;">

                                    <ul class="treeview-menu">
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Create", "Reservas", new { area = "" })">
                                                <i style="color:white">Añadir</i>
                                            </a>
                                        </li>
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Index", "Reservas", new { area = "" })">
                                                <i style="color:white">Registro</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li routerlinkactive="active" class="active" id="casas" style="margin-left:30px">
                                <a data-toggle="collapse" href="#Casas" class="collapsed" aria-expanded="false">
                                    <i style="font-size:18px" class="glyphicon glyphicon-home"> Casas Comerciales</i>
                                </a>
                                <div class="collapse" id="Casas" aria-expanded="false" style="height: 0px;">

                                    <ul class="treeview-menu">
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Create", "Casa_Comerc", new { area = "" })">
                                                <i style="color:white">Añadir</i>
                                            </a>
                                        </li>
                                        <li style="list-style-type:square; color:tomato">
                                            <a href="@Url.Action("Index", "Casa_Comerc", new { area = "" })">
                                                <i style="color:white">Registro</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="Content/img/imagenInicio3.jpg" alt="First slide">
            </div>
            <div class="item">
                <img class="second-slide" src="Content/img/imagenInicio2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img class="third-slide" src="Content/img/imagenInicio4.jpg" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container marketing">
        <h3 style="margin-left:200px">Resumen de Productos Disponibles</h3>
        <div class="row">

            <div class="col-lg-3">
                <img class="img-circle" src="~/Content/img/champu.jpg" alt="Generic placeholder image" width="160" height="180">
                <h2>Champú</h2>
                <p>Anticaída</p>
                <p>Anticaspa</p>
                <p>Con Keratina</p>
                <p>Para cabello seco</p>
                <p>Para cabello graso</p>
                <p>Seco</p>

            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="~/Content/img/espuma.jpg" alt="Generic placeholder image" width="160" height="180">
                <h2>Espuma</h2>
                <p>Hidrarizos</p>
                <p>Hidraliso</p>
                <p>Fijación Fuerte </p>
                <p>Fijación suave</p>

            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="~/Content/img/keratina.jpg" alt="Generic placeholder image" width="180" height="180">
                <h2>Varios</h2>
                <p>Mascarillas</p>
                <p>Redensificadores</p>
                <p>Acondicionadores</p>
                <p>Ampollas de Keratina</p>
                <p>Activadores de Rizos</p>
                <p>Desenrredantes</p>
            </div>
        </div>
    </div>
    @*
            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            <hr class="featurette-divider">
            <!-- /END THE FEATURETTES -->
            <!-- FOOTER -->
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </div>*@<!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="Content/js/bootstrap.min.js"></script>
</body>
</html>
